* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: Verdana, sans-serif;
  background-color: #D3D3D3;
  text-align: center;
  margin: 0 15%;
}

header {
  padding: 5px;
  margin: 20px 0;
  border: 1px solid;
  min-width: 320px;
}

header h1 {
  text-decoration: underline;
}

.left { float: left;}
.right { float: right;}

#game-stats {
  background-color: #FFF8DC;
  border: 1px solid;
  min-width: 320px;
  margin: 20px 0px;
  padding: 10px;
  height: 20px;
}

#game-stats span {
  padding: 0 5px;
}

#container {
  border: 1px solid;
  min-width: 320px;
}

#container img {
  margin-top: 20px;
}

#wordbox, #letterbox {
  margin: 20px 40px;
  padding: 10px;
  border: 1px solid;  
}

#wordbox span, #letterbox span {
  width: 15px;
  height: 15px;
  margin: 5px;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  display: inline-block;
}  



